@tailwind base;
@tailwind components;
@tailwind utilities;

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
select:-webkit-autofill {
    -webkit-text-fill-color: #1e293b;
    -webkit-box-shadow: 0 0 0px 1000px #ffffff inset;
    transition: background-color 9999s ease-in-out 0s;
}